<div class="oc-fileds-imagex">


    <div class="oc-item">

        <h3 class="oc-title">ImageX Default</h3>
        <a href="{{ImagexDefault.url}}" alt="full image" target="_blank"><img src="{{ImagexDefault.url}}" alt="Imagex"
                width="600" /></a>
        <dt>
            <dl>url: {{ImagexDefault.url}}</dl>
            <dl>height {{ImagexDefault.height}}</dl>
            <dl>width: {{ImagexDefault.width}}</dl>
            <dl>crop width: {{ImagexDefault.crop.width}}</dl>
            <dl>crop height: {{ImagexDefault.crop.height}}</dl>
        </dt>
    </div>
    <div class="oc-item">

        <h3 class="oc-title">ImageX Simple</h3>
        <a href="{{ImagexSimple.url}}" alt="full image" target="_blank"><img src="{{ImagexSimple.url}}" alt="Imagex"
                width="600" /></a>
        <dt>
            <dl>url: {{ImagexSimple.url}}</dl>
            <dl>height {{ImagexSimple.height}}</dl>
            <dl>width: {{ImagexSimple.width}}</dl>
        </dt>
    </div>
    <div class="oc-item">

        <h3 class="oc-title">ImageX No Upload (select image from folder)</h3>
        <a href="{{ImageXNoUpload.url}}" alt="full image" target="_blank"><img src="{{ImageXNoUpload.url}}" alt="Imagex"
                width="600" /></a>
        <dt>
            <dl>url: {{ImageXNoUpload.url}}</dl>
            <dl>height {{ImageXNoUpload.height}}</dl>
            <dl>width: {{ImageXNoUpload.width}}</dl>
        </dt>
    </div>
    <div class="oc-item">

        <h3 class="oc-title">ImageX Upload to set Folder</h3>
        <a href="{{ImageXFolder.url}}" alt="full image" target="_blank"><img src="{{ImageXFolder.url}}" alt="Imagex"
                width="600" /></a>
        <dt>
            <dl>url: {{ImageXFolder.url}}</dl>
            <dl>height {{ImageXFolder.height}}</dl>
            <dl>width: {{ImageXFolder.width}}</dl>
        </dt>
    </div>
    <div class="oc-item">

        <h3 class="oc-title">ImageX Crop</h3>
        <a href="{{ImageXCrop.url}}" alt="full image" target="_blank"><img src="{{ImageXCrop.url}}" alt="Imagex"
                width="600" /></a>
        <a href="{{ImageXCrop.url}}?width={{ImageXCrop.crop.width}}" alt="full image" target="_blank"><img src="{{ImageXCrop.url}}?crop={{ImageXCrop.crop.x}},{{ImageXCrop.crop.y}},{{ImageXCrop.crop.width}},{{ImageXCrop.crop.height}}" alt="Imagex"
                width="600" /></a>
        <dt>
            <dl>url: {{ImageXCrop.url}}</dl>
            <dl>height {{ImageXCrop.height}}</dl>
            <dl>width: {{ImageXCrop.width}}</dl>
            <dl>crop width: {{ImageXCrop.crop.width}}</dl>
            <dl>crop height: {{ImageXCrop.crop.height}}</dl>
            <dl>crop x: {{ImageXCrop.crop.x}}</dl>
            <dl>crop y: {{ImageXCrop.crop.y}}</dl>
        </dt>
    </div>
    <div class="oc-item">

        <h3 class="oc-title">ImageX Default</h3>
        <a href="{{ImageXCropFile.url}}" alt="full image" target="_blank"><img src="{{ImageXCropFile.url}}" alt="Imagex"
                width="600" /></a>
                <a href="{{ImageXCropFile.cropUrl}}" alt="full image" target="_blank"><img src="{{ImageXCropFile.cropUrl}}" alt="Imagex"
                width="600" /></a>
        <dt>
            <dl>url: {{ImageXCropFile.url}}</dl>
            <dl>crop url: {{ImageXCropFile.cropUrl}}</dl>
            <dl>height {{ImageXCropFile.height}}</dl>
            <dl>width: {{ImageXCropFile.width}}</dl>
        </dt>
    </div>

</div>