<h3>CkEditor:</h3>
<div class="item">
{{CKEditor1}}
</div>

<h3>CkEditor Basic:</h3>
<div class="item">
{{CKEditor2A}}
</div>

<h3>CkEditor Default:</h3>
<div class="item">
{{CKEditor2B}}
</div>

<h3>CkEditor Full:</h3>
<div class="item">
{{CKEditor2C}}
</div>

<h3>CkEditor Extra allowed html:</h3>
<div class="item">
{{CKEditor3}}
</div>

<h3>CkEditor With StyleSet:</h3>
<div class="item">
{{CKEditor4}}
</div>

<h3>CkEditor size:</h3>
<div class="item">
{{CKEditor5}}
</div>



<h3>CkEditor Custom Toolbar:</h3>
<div class="item">
{{CKEditor6}}
</div>

<h3>CkEditor Test:</h3>
<div class="item">
{{CKEditor99}}
</div>

