{{registerscript "jplist/js/jplist.core.min.js"}}
{{registerscript "jplist/js/jplist.filter-toggle-bundle.min.js"}}
{{registerscript "jplist/js/jplist.textbox-filter.min.js"}}
{{registerscript "jplist/js/jplist.bootstrap-pagination-bundle.min.js"}}
{{registerscript "jplist/js/jplist.bootstrap-sort-dropdown.min.js"}}
{{registerscript "jplist/js/jplist.preloader-control.min.js"}}

{{registerscript "/DesktopModules/OpenContent/js/alpaca-1.5.8/lib/handlebars/handlebars.js"}}
{{registerscript "/DesktopModules/OpenContent/js/alpaca-1.5.8/lib/moment/min/moment.min.js"}}
{{registerscript "js/handlebars.helpers.js"}}


<div class="oc-articles oc-articles-list">
	
				<div id="demo" class="jplist" data-moduleid="{{Context.ModuleId}}">
					<div class="row">
						<aside class="oc-filters">
							<h4 class="filter">{{@root.Settings.Texts.Filters}}</h4>
							
							<!-- panel -->
							<div id="filters" class="jplist-panel">
							
								<!-- filter by title -->
								<div class="text-filter-box form-group">

									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-search"></i></span>
										<input 
												class="form-control textfilter"
											   type="text"
											   value=""
											   data-path="header" 
											   placeholder="{{@root.Settings.Texts.SearchText}}"
											   data-control-type="textbox"
											   data-control-name="Title,Summary,Tags"
											   data-control-action="filter",
											   data-event-name="keydelay" 
											   />
									</div>
								</div>
							</div>
							
							
						</aside>

							<!-- data -->
							<div class="oc-article-list list" data-moduleid="{{Context.ModuleId}}">
							</div>
					</div>
    </div>
</div>